<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
      <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      </appSettings>
      <connectionStrings>
            <add name="productNDBConnectionString" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup59_test1;&#xD;&#xA;           User ID=bgroup59;Password=bgroup59_37306"
                  providerName="System.Data.SqlClient" />
            <add name="bgroup59_test1ConnectionString" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup59_test1;User ID=bgroup59;Password=bgroup59_37306"
                  providerName="System.Data.SqlClient" />
      </connectionStrings>

</configuration>
